[submodule "Library/libarchive"]
	path = Library/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "Library/zlib"]
	path = Library/zlib
	url = https://github.com/madler/zlib.git
[submodule "Library/boringssl"]
	path = Library/boringssl
	url = https://boringssl.googlesource.com/boringssl
